*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

* {
  .selection({
    background-color: #fff;
    color: #111;
  });
}

html {
  font-family: 'Intro', sans-serif;
  -ms-touch-action: none;
  font-weight: normal;
  font-size: 10vw;
  line-height: 1.5;
}

body {
  font-size: 24 / @d;
  color: @color-black;
  background-color: @color-white;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  &:hover {
  }
}

b, strong {
}

p {
}

input,
select,
textarea {
  .appearance;
}