.main {
  min-height: calc(100vh - 6.9444rem);

}

.row {
  max-width: 940/@d;
  margin: 0 auto;
  display: flex;
}

#page {
  overflow: hidden;
}

//######################################
//#       FOOTER BLOCK
//######################################

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0;
  padding: 30/@d 28/@d 18/@d 28/@d;


}

.footerText {
  font-size: 12/@d;
  color: @color-dark-light;
  line-height: 1;
  //margin-bottom: 18/@d;
  width: 500/@d;

  p {
    margin: 0;

    a {
      text-decoration: none;
      color: @color-dark-light;
    }
  }

}
.footerText--right {
  text-align: right;
}


.footerLogo {


}

#footerIcon {
  display: block;
  fill: @color-red;
  height: 100/@d;
  width: 248/@d;
}

//######################################
//#       HEADER BLOCK
//######################################

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 96/@d ;
}

.logoBlock {

  position: fixed;
  left: 28/@d;
  top: 24/@d;
  text-decoration: none;
  transition: fill 150ms ease-in-out;

  &:hover {
    .logoIcon {
      fill: @color-black;
    }
  }

}

.logoIcon {
  display: block;
  height: 72/@d;
  width: 86/@d;
  fill: @color-red;
  pointer-events: none;
  transition: fill 150ms ease-in-out;
}

.mainNav {
  position: fixed;
  right: 34/@d;
  top: 44/@d;

}

.mainNav-block {

}

.mainNav-listItem {
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 44/@d;
  }

}

.mainNav-link {
  font-size: 16/@d;
  font-weight: 600;
  text-transform: uppercase;
  color: @color-red;
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover {
    color: @color-black;
  }

}


.icon--small {
  display: block;
  height: 20/@d;
  width: 22/@d;
  fill: @color-red;
  transition: fill 150ms ease-in-out;

  &:hover {
    fill: @color-black;
  }

}


//######################################
//#       QUIZ
//######################################

.quizContainer {
  //width: 856/@d;
  width: 6.28rem;
  padding: 180/@d 0;
  .center-block;

}

.mainHeading {
  font-size: 84/@d;
  line-height: 88/84;
  font-family: @fontFamily-titilium;
  font-weight: 600;
  padding-left: 35/@d;
  margin-bottom: 58/@d;
  color: #E24040;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #E24040;
  position: relative;

  &--sm {
    font-size: 64/@d;
  }

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 97%;
    background-color: @color-red;
    position: absolute;
    top: 3%;
    left: 0;
  }
}

.secondHeading {
  line-height: 48/54;
  font-size: 54/@d;
  font-family: @fontFamily-titilium;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 44/@d;
}

.quizContent {
  display: none;

}



.textDescription {
  font-size: 18/@d;
  color: @color-red;
  line-height: 26/18;
  margin-bottom: 66/@d;

  p{
    margin: 0;
  }

}

.quizCta {
  margin-bottom: 134/@d;

}

.quiz-1 {
  .quizCta-radio {
    &:not(:last-of-type) {
      margin-right: 36/@d;
    }
  }
  .radio-label {
    //transition: all 150ms ease-in-out;
  }

}

.quiz-2 {
  display: inline-block;
  font-size: 0;
  position: relative;
  margin-bottom: 150/@d;

  &:before {
    content: '';
    display: block;
    width: 100%;
    .abcenter;
    border-top: 1px solid @color-red;
  }

  .quizCta-radio {
    z-index: 2;
    position: relative;

    &:before {
      content: '';
      display: block;
      .abcenter;
      height: 100%;
      width: (40+12+12)/@d;
      background-color: @color-white;
    }

    &:not(:last-of-type) {
      margin-right: 120/@d;
    }
  }

  .radio-label {
    font-size: 0;
    display: block;
  }
}


  .quizCta-radioLabel {
    font-size: 14/@d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: -34/@d;
    line-height: 1;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

  }




.quizCta-radio {
  display: inline-block;
}


.quizNavigation {
  display: flex;
  justify-content: center;
  align-items: center;  
  
}

.quizNavigation-rect {
  display: inline-block;
  width: 80/@d;
  border: 2px solid @color-red;
  height: 7px;
  transition: background-color 150ms ease-in-out;
  backface-visibility: hidden;

  &:not(:last-of-type) {
    margin-right: 3px;
  }

}

.isPassed {
  background-color: @color-red;
}



//***********CUSTOM RADIO INPUT*************

.radio-input {
  display: none;
}

.radio-label {
  font-size: 54/@d;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: @color-red;
  font-family: @fontFamily-titilium;
  line-height: 1;
}

.radio-button {
  height: 40/@d;
  width: 40/@d;
  border-radius: 50%;
  border: 1px solid @color-red;
  background-color: @color-white;
  display: inline-block;
  font-size: 0;
  position: relative;
  transition: background-color 150ms ease-in-out;

  &:after {
    content: '';
    font-size: 0;
    display: block;
    height: 34/@d;
    width: 34/@d;
    border-radius: 50%;
    .abcenter;
    background-color: @color-red;
    transition: opacity 150ms ease-in-out;
    opacity: 0;
  }


  &:hover {
    &:after {
      opacity: 1;
    }

  }
}

.checkbox-input:checked ~ .checkbox-label .checkbox-button:after {
  opacity: 1;
}

//.radio-input:checked ~ .radio-label .radio-button {
//  background-color: @color-red;
//
//}
//
//.radio-input--1:checked  ~ .radio-label {
//  color: #E24040;
//  -webkit-text-fill-color: transparent;
//  -webkit-text-stroke-width: 1px;
//  -webkit-text-stroke-color: #E24040;
//
//  &:after {
//    content: "";
//    display: block;
//    height: 3px;
//    width: 110%;
//    background-color: @color-red;
//    .abcenter;
//    left: 50%;
//  }
//
//}



.isFalse {
  color: #E24040;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #E24040;

  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 110%;
    background-color: @color-red;
    .abcenter;
    left: 50%;
    top: 53%;
  }
}


//************CUSTOM CHECKBOX************
.checkbox-input {
  display: none;
}

.checkbox-label {
  font-size: 14/@d;
  cursor: pointer;
  position: relative;
  padding-left: 34/@d;
}

.checkbox-button {
  height: 15/@d;
  width: 16/@d;
  //border: 1px solid @color-red;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    background-color: @color-black;
  }

  &:after {
    .abcenter;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16" fill="#AE252E"><path d="M5.43,10.9l-3.34,-3.4l-2.08,2.14l5.43,5.36l11.24,-12.86l-2.1,-2.14z"/></svg>');
    font-size: 14/@d;
    text-align: center;
    line-height: 15/@d;
    height: 15/@d;
    width: 16/@d;
    display: block;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .checkbox-icon {
    fill: rgba(0,0,0, 0.2);
  }
}

.checkbox-input:checked ~ .checkbox-label .checkbox-button:after {
  opacity: 1;
}


//######################################
//#       POPUP
//######################################


.popup-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
}

.popup-container {
  width: 940/@d;
  padding: 92/@d 122/@d;
  background-color: @color-white;
  .abcenter;


  .popup-heading {
    font-size: 28/@d;
    font-family: @fontFamily-titilium;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: @color-black;
    margin-bottom: 15/@d;
  }

  .popup-textBlock {
    font-size: 16/@d;
    font-weight: 600;
    color: @color-red;
    margin-bottom: 50/@d;

    p{
      margin: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .formControl {
    width: 428/@d;
    display: flex;
    margin-bottom: 22/@d;

    border-bottom: 2px solid rgba(0,0,0, 0.2);
  }

  .popup-input {
    border: 0;
    background: none;
    box-shadow: none;
    padding: 18/@d 0;
    line-height: 1;

    &:focus {
      outline: none;
    }

    &--email {
      flex: 1;
      font-size: 22/@d;
      font-family: @fontFamily-titilium;
      color: @color-black;
      font-weight: 300;

      &::placeholder {
        font-size: 22/@d;
        font-family: @fontFamily-titilium;
        color: rgba(0,0,0, 0.2);
        font-weight: 300;
      }

    }

    &--submit {
      color: @color-red;
      display: block;
      font-size: 22/@d;
      font-family: @fontFamily-titilium;
      font-weight: 600;
    }

  }

  .popup-checkbox {
    margin-bottom: 54/@d;
    font-size: 0;
  }


  .popup-socialBlock {
    display: flex;

    .socialIcon-link {
      &:not(:last-of-type) {
        //margin-right: 24/@d;
      }
    }

  }

  #popup-footerIcon {
    display: block;
    height: 54/@d;
    width: 136/@d;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    fill: @color-red;

  }

  .u-mb {
    margin-bottom: 28/@d;
  }

}

.btnClose {
  width: 56/@d ;
  height:56/@d ;
  position: absolute;
  top: -8/@d;
  right: -7/@d ;
  background-color: @color-red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;


  &:hover {
    .closeIcon {
      fill: @color-black;
    }
  }

  .closeIcon {
    width: 17/@d;
    height: 17/@d;
    fill: @color-white;
    pointer-events: none;
    transition: fill 150ms ease-in-out;
  }

}




.socialIcon-link {
  text-decoration: none;
  font-size: 18/@d;
  font-family: @fontFamily-titilium;
  font-weight: 600;
  color: @color-red;
  display: flex;
  align-items: center;
  transition: color 150ms ease-in-out;

  &:hover {
    color: @color-black;

    .socialIcon-roundCircle {
      border-color: @color-black;
    }

    .socialIcon-icon {
      fill: @color-black;
    }

  }

  .socialIcon-roundCircle {
    display: inline-block;
    height: 30/@d;
    width: 30/@d;
    border: 1px solid @color-red;
    border-radius: 50%;
    position: relative;
    margin-right: 8/@d;
    transition: border 150ms ease-in-out;

  }

  .socialIcon-icon {
    display: block;
    width: auto;
    .abcenter;
    fill: @color-red;
    transition: fill 150ms ease-in-out;

    &--fb {
      height: 18/@d;
    }

    &--tw {
      height: 12/@d;
    }
  }
}

//######################################
//#       MATCH PAGE
//######################################

.match {
  padding-top: 150/@d;
  padding-bottom: 110/@d;

  .matchContainer {
    position: relative;
  }




  .mainHeading--small {
    font-size: 24/@d;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: @color-red;
    line-height: 1;
    margin-bottom: 18/@d;
  }

  .textDescription {
    margin: 0;
    color: @color-black;
    margin-bottom: 50/@d;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      display: inline-block;
      height: 20/@d;
      width: 18/@d;
      .image('swipeIcon.svg');
      .background-cover;
      margin-right: 14/@d;
    }
  }

  .slidesWraper {
    width: 404/@d;
    height: 550/@d;
    margin-bottom: 50/@d;
    .center-block;


  }

  .slideTitle {

    //width: 336/@d;
    height: 56/@d;
    //background-color: @color-red;
    color: @color-white;
    font-family: @fontFamily-titilium;
    font-size: 18/@d;
    font-weight: 600;
    //line-height: 56/@d;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 0 12/@d;
    position: absolute;
    //bottom: 32/@d;
    //right: -34/@d;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;

    &:before {
      content: '';
      .image('infoIcon.svg');
      .background-contain;
      display: inline-block;
      height: 20/@d;
      width: 20/@d;
      position: absolute;
      bottom: 19/@d;
      right: 11/@d;
      //margin-right: 12/@d;

    }
  }
}

.actionsBtn {
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);



&--left {
    left: 240/@d;

  }

  &--right {
    right: 240/@d;

  }

  .like,
  .dislike {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .actionsText {
    color: @color-red;
    font-family: @fontFamily-titilium;
    font-size: 44/@d;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 14/@d;


    &--style {
      text-decoration: line-through;
      color: @color-red;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: @color-red;

    }

  }

  .iconCircle {
    height: 80/@d;
    width: 80/@d;
    border-radius: 50%;
    border: 1px solid @color-red;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .likeIcon {
    display: block;
    width: 34/@d;
    height: 29/@d;
    fill: @color-red;
    pointer-events: none;


  }

  .dislikeIcon {
    fill: @color-red;
    display: block;
    width: 25/@d;
    height: 25/@d;
    pointer-events: none;

  }

  .actionsLink {
    display: inline-block;
    z-index: 2;
  }

}

#tinderslide {



  .img {
    .background-cover;
    border-radius: 17/@d;
    border: 6/@d solid #fff;
    border-radius: 17/@d;
    font-size: 0;
    line-height: 0;
  }
  .like,
  .dislike {
    pointer-events: none;
  }

}

#sliderStatus {
  color: @color-black;
  font-weight: 600;
  font-size: 18/@d;
  line-height: 26/18;
  text-align: center;

  span {
    font-weight: 400;
    color: #777777;
  }

}

.animatedCircle {
  position: absolute;
  .abcenter;
  background-color: rgba(0,0,0, 0.3);
  border-radius: 50%;
  border: 2px solid rgba(0,0,0, 0.6);

}


//######################################
//#       HOME PAGE
//######################################

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;



  .container {
    margin-top: 124/@d;
    margin-bottom: 58/@d;
    width: 100%;
    position: relative;

  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .leftBlock {
    height: 742/@d;
    width: 65.5%;
    //width: 942/@d;
    .image('mainfoto.jpg');
    .background-cover;
    background-position: left center;
  }

  .rightBlock {
    height: 812/@d;
    width: 34.5%;
    position: absolute;
    background-color: @color-red-light;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

  }

  .rightBlock-container {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
    padding-top: 90/@d;
    padding-left: 86/@d;


    .btnInline--simple {
      position: absolute;
      bottom: 166/@d;
      left: 50%;
      transform: translateX(-50%);
    }


  }


}

.homeHeading {
  color: @color-white;
  font-family: @fontFamily-titilium;
  font-size: 84/@d;
  font-weight: 600;
  line-height: 80/84;
  margin-bottom: 92/@d;

  &--textBlock {
    height: 156/@d;
    width: 512/@d;
    line-height: 156/@d;
    text-align: center;
    background-color: @color-white;
    color: @color-red;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @color-red;
    white-space: nowrap;
    position: absolute;
    right: 452/@d;
    top: 62/@d;

  }

}

.btnInline {
  color: @color-white;
  font-size: 18/@d;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-decoration: none;

  &--simple {
    letter-spacing: normal;
    text-transform: none;
  }

  &--red {
    color: @color-red;
  }

  &__icon {
    width: 55/@d;
    height: auto;

  }

  &__arrow {
    margin-left: 28/@d;




    &--white {
      fill: @color-white;
    }

    &--red {
      fill: @color-red;

    }

  }
}

.blockBottomIcon {
  position: absolute;
  fill: @color-white;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 310/@d;
}


//######################################
//#       PLACE INFORMATION PAGE
//######################################

.placeInformation {

  .about {
    margin-bottom: 120/@d;

  }

  .wrapper {
    width: 50%;

    &:first-of-type {
      margin-right: 50/@d;
    }

    .btnInline {
      margin-left: 38/@d;
    }

  }

  .map {
    height: 534/@d;
    width: 100%;
    position: relative;
  }

}

.paragraphTitle {
  color: @color-black;
  font-family: @fontFamily-titilium;
  font-size: 24/@d;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22/@d;
}

.textBlock {
  font-size: 16/@d;
  color: @color-black;
  line-height: 33/16;

  p {
    margin: 0;
  }
}

.sectionHeading {
  color: @color-black;
  font-family: @fontFamily-titilium;
  font-size: 22/@d;
  font-weight: 600;
  line-height: 28/22;
  text-transform: uppercase;
  position: relative;
  margin-left: 38/@d;
  margin-bottom: 28/@d;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: @color-red;
    position: absolute;
    left: -38/@d;
  }


  &--fancy {
    font-size: 64/@d;
    font-weight: 600;
    line-height: 1;
    color: @color-red;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @color-red;
    display: block;
    margin-bottom: 14/@d;
    text-transform: none;

  }

  &--vLine {
    position: relative;
    padding-left: 38/@d;

    &:before {
      content: '';
      display: block;
      width: 2px;
      height: 97%;
      background-color: #ae252e;
      position: absolute;
      top: 3%;
      left: 0;

    }
  }
}

.markerData {
  width: 460/@d;
  min-height: 364/@d;
  background-color: #fff;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 76/@d;
  position: absolute;
  top: -44/@d;
  right: 250/@d;

  a {
    text-decoration: none;
    color: inherit;
  }

  &__item {
    color: @color-black;
    font-family: @fontFamily-titilium;
    font-size: 18/@d;
    font-weight: 600;
    line-height: 23/18;
    text-transform: uppercase;
    padding: 10/@d 0 10/@d 42/@d ;
    position: relative;


    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      .background-contain;
    }

    &--street {
      &:before {
        .image('locationPin.svg');
        width: 18/@d;
        height: 24/@d;
      }

    }

    &--time {
      &:before {
        .image('clockIcon.svg');
        width: 20/@d;
        height: 20/@d;
      }

    }

    &--phone {
      &:before {
        .image('phoneIcon.svg');
        width: 21/@d;
        height: 21/@d;
      }

    }

    &--url {
      &:before {
        .image('cursorIcon.svg');
        width: 17/@d;
        height: 25/@d;
      }
    }
  }
}

#map {
  width: 100%;
  height: 100%;
}

.sliderContainer {
  margin-bottom: 70/@d;

  .sliderContainer__img {
    object-fit: fill;
    width: 100%;
    height: 100%;

  }

}


//######################################
//#       PERSONAL PLAN PAGE
//######################################

.personalPlan {
  padding-top: 190/@d;

  .mainHeading {
    margin-bottom: 80/@d;
  }

}
.locations {
  margin-bottom: 112/@d;

}

.locations__map {
  height: 534/@d;
  width: 100%;
  margin-bottom: -106/@d;
}

.locations__slider {
  margin: 0 82/@d;


  .swiper-wrapper {
    margin-bottom: 18/@d;

  }
  .swiper-slide {
    padding-top: 246/@d;
    margin-top: 25/@d;
    width: 414/@d;
    height: 346/@d;
    background-color: rgba(255,255,255, 0.54);
    position: relative;
  }

  .swiper-image {
    width: 380/@d;
    height: 240/@d;
    .background-cover;
    position: absolute;
    top: -25/@d;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-title {
    width: 336/@d;
    height: 56/@d;
    color: #ffffff;
    font-family: @fontFamily-titilium;
    font-size: 24/@d;
    font-weight: 600;
    line-height: 56/@d;
    text-transform: uppercase;
    padding-left: 34/@d;
    box-shadow: -6/@d 0 12/@d rgba(0, 0, 0, 0);
    background-image: linear-gradient(270deg, #c1272d 0%, #ed1c24 100%);
    z-index: 2;
    position: absolute;
    right: 0;
    top: 142/@d;
  }

  .swiper-text {
    font-size: 16/@d;
    line-height: 26/16;
    color: @color-black;
    padding-left: 52/@d;
    padding-right: 44/@d;

    p {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }
  }
  .swiper-pagination {
    position: static;
    font-size: 0;
    display: flex;
    justify-content: center;


    .swiper-pagination-bullet {
      display: block;
      width: 80px;
      height: 5px;
      border: 1px solid #ae252e;
      transition: background-color 150ms ease-in-out;
      &:not(:last-of-type) {
        margin-right: 4/@d;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: @color-red;
    }

  }

  .swiper-button-icon {
    fill: @color-red;
    pointer-events: none;
    display: block;
    width: 55/@d;
    height: 13/@d;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    left: -68/@d;
    left: 0;
  }
  .swiper-button-next {
    right: -68/@d;
    right: 0;
  }

}

.attractions {
  position: relative;

  .ml {
    margin-left: 550/@d;
  }
  .mb {
    margin-bottom: 200/@d;
  }

  .btnInline {
    display: inline-block;
    color: @color-red;
    font-size: 32/@d;

  }


  .paperPlane {
    position: absolute;
    left: 80/@d;
    top: -30/@d;

  }

  .paperPlane__icon {
    display: block;
    width: 345/@d;
    height: 237/@d;
  }
}

.container {
  display: flex;
  margin: -14/@d;

  &:not(:last-of-type) {
    margin-bottom: 98/@d;
  }

  .right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

  }

  .left {
    flex:  0 0 550/@d;
    margin-left: 26/@d;

  }

  .wrapper {
    padding: 39/@d 14/@d 14/@d 14/@d;

  }

  .card {
    width: 414/@d;
    min-height: 392/@d;
    background-color: rgba(255,255,255, 0.54);
    color: @color-black;
    position: relative;
    padding: 240/@d 16/@d 70/@d 16/@d;
  }
  .cardImage {
    width: 380/@d;
    height: 240/@d;
    .background-cover;
    position: absolute;
    top: -25/@d;
    left: 50%;
    transform: translateX(-50%);

  }

  .cardTitle {
    width: 336/@d;
    height: 56/@d;
    color: #ffffff;
    font-family: @fontFamily-titilium;
    font-size: 24/@d;
    font-weight: 600;
    line-height: 56/@d;
    text-transform: uppercase;
    padding-left: 34/@d;
    box-shadow: -6/@d 0 12/@d rgba(0, 0, 0, 0);
    background-image: linear-gradient(270deg, #c1272d 0%, #ed1c24 100%);
    position: absolute;
    right: 0;
    top: 142/@d;
    z-index: 2;
  }
  .cardText{
    p{
      font-size: 14/@d;
      line-height: 26/14;

    }
  }

  .cardCTA {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21/@d 16/@d;

    .btnInline {
      font-size: 18/@d;
    }
    .btnInline__arrow {
      margin-left: 6/@d;
    }

  }




}