/*
100 Thin (Hairline)
200 ExtraLight (UltraLight)
300 Light
400 Normal
500 Medium
600 SemiBold (DemiBold)
700 Bold
800 ExtraBold (UltraBold)
900 Black (Heavy)
*/


@font-face {
  font-family: 'Titillium';
  src: ~'url(@{url}fonts/TitilliumVLN-DemiBold.otf)' format('otf');
  font-weight: 600;
}


@font-face {
  font-family: 'Intro';
  src: ~'url(@{url}fonts/intro_regular/original-fontfabric-introregular.otf)' format('otf'),
  ~'url(@{url}fonts/intro_regular/fontfabric-introregular.eot)' format('eot'),
  ~'url(@{url}fonts/intro_regular/fontfabric-introregular.ttf)' format('ttf'),
  ~'url(@{url}fonts/intro_regular/fontfabric-introregular.woff)' format('woff'),
  ~'url(@{url}fonts/intro_regular/fontfabric-introregular.woff2)' format('woff2');
  font-weight: normal;
}


@font-face {
  font-family: 'Intro';
  src: ~'url(@{url}fonts/introsemibold/original-fontfabric-introsemibold.otf)' format('otf'),
  ~'url(@{url}fonts/introsemibold/fontfabric-introsemibold.eot)' format('eot'),
  ~'url(@{url}fonts/introsemibold/fontfabric-introsemibold.ttf)' format('ttf'),
  ~'url(@{url}fonts/introsemibold/fontfabric-introsemibold.woff)' format('woff'),
  ~'url(@{url}fonts/introsemibold/fontfabric-introsemibold.woff2)' format('woff2');
  font-weight: 600;
}

