@import ~'@{dir}swiper';
@import ~'@{dir}normalize';
@import ~'@{dir}tinderjs';
@import ~'@{dir}mixins';
@import ~'@{dir}fonts';
@import ~'@{dir}variables';
@import ~'@{dir}base';

@import ~'@{dir}desktop';


/*
 **** THIS 
 * 
 * @pxd: 144rem;
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** WILL BE CONVERTED TO THIS
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** VARIABLE NAME MUST INCLUDE '@px', e.g.:
 * @pxd: 144rem;
 * @pxm: 32rem;
 * 
 */
