
@color-white: #f2eeeb;
@color-red: #AE252E;
@color-red-light: #d82128;
@color-black: #000000;
@color-dark-light: #5c5c5c;
@color-dark-light1: #474747;


@fontFamily-titilium: 'Titillium Web', sans-serif;

//Desktop
@d: 144rem;



